name: Install vcpkg

on:
  workflow_dispatch:

jobs:
  build-gdal-linux:
    name: Build GDAL on Linux
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt update && sudo apt install -y build-essential cmake ninja-build curl zip unzip tar pkg-config libssl-dev autoconf autoconf-archive automake libtool

      # 关键修正：path 改为 github.workspace 下的相对路径
      - name: Checkout vcpkg from GitHub
        uses: actions/checkout@v4
        with:
          repository: microsoft/vcpkg
          path: vcpkg  # 会被解析为 ${github.workspace}/vcpkg
          ref: 2025.12.12

      - name: Bootstrap vcpkg
        run: |
          cd vcpkg
          ./bootstrap-vcpkg.sh -disableMetrics
          chmod +x ./vcpkg

      - name: Install GDAL via vcpkg
        run: |
          cd vcpkg
          ./vcpkg install gdal --triplet x64-linux

      - name: Verify GDAL and LAS driver
        run: |
          ls $PWD/vcpkg/installed/x64-linux
          ls $PWD/vcpkg/installed/x64-linux/lib
        shell: bash
